.checkoutProduct {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}
.checkoutProduct__title {
  font-size: 17px;
  font-weight: 800;
}

.checkoutProduct__price {
  margin-bottom: 5px;
}

.checkoutProduct__rating {
  display: flex;
  margin-bottom: 5px;
}

.checkoutProduct > img {
  object-fit: contain;
  width: 180px;
  height: 180px;
}

.checkoutProduct__info > button {
  background-color: #f0c14b;
  border: 1px solid;
}
