.header {
  background-color: #131921;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.header__logo {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 18px;
  object-fit: contain;
}

.header__search {
  display: flex;
  flex: 1;
}

.header__searchInput {
  height: 12px;
  width: 100%;
  padding: 11px;
  border: none;
}

.header__searchIcon {
  background-color: #f3a847;
  padding: 5px;
}

.header__nav {
  display: flex;
}

.header__link {
  text-decoration: none;
  color: white;
}

.header__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
}

.header__optionBasket {
  display: flex;
  align-items: center;
}

.header__optionLine1 {
  font-size: 11px;
  font-weight: 800;
}

.header__optionLine2 {
  font-size: 15px;
  font-weight: 800;
}

.header__basketCount {
  margin-left: 10px;
  margin-right: 10px;
}
