.login {
  background-color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login__logo {
  width: 100px;
  object-fit: contain;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login_container {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border: 1px solid lightgray;
}

.login_container > h1 {
  font-weight: 500;
  margin-bottom: 10px;
}

.login_container > form > h5 {
  margin-top: 10px;
}

.login_container > form > input {
  height: 30px;
  width: 98%;
  margin-bottom: 10px;
  background-color: white;
}

.login_container > p {
  margin-top: 10px;
  font-size: 12px;
}

.login__signInButton {
  width: 100%;
  height: 30px;
  background-color: #f0c14b;
  border-radius: 2px;
  border: 1px solid;
}

.login__registerButton {
  width: 100%;
  height: 30px;
  border-radius: 2px;
  border: 1px solid;
  margin-top: 10px;
}
