.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-height: 400px;
  min-width: 100px;
  margin: 10px;
  padding: 10px;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.product__info {
  max-height: 100px;
  margin-bottom: 15px;
}

.product__price {
  margin-top: 5px;
}

.product__rating {
  display: flex;
}

.product > img {
  width: 100%;
  max-height: 120px;
  object-fit: contain;
  margin-bottom: 15px;
}

.product > button {
  background-color: #f0c14b;
  border: 1px solid;
}
