.subtotal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 100px;
  padding: 20px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  border-radius: 3px;
}

.subtotal__gift {
  display: flex;
  align-items: center;
}

.subtotal > button {
  width: 100%;
  height: 30px;
  border: 1px solid;
  background-color: #f0c14b;
  border: 1px solid;
  color: #111;
}
